.nav{
    background-color: #c1af9c;
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-around;
    gap: 40%;
    margin-bottom: 25px;
}

.logo{
    padding: 10px;
}

.imgLogo{
    width: 100px;
    cursor: pointer;
}

#login_user{
    font-size: 24px;
    color: white;
}

.icon-nome{
    display: flex;
    align-items: center;
}

/* Estiliza o ícone de usuário */
.icon-usuario {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Container do dropdown */
  .userInfo {
    position: relative;
    display: inline-block;
  }
  
  /* Conteúdo do dropdown (inicialmente oculto) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Links dentro do dropdown */
  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Links no hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Mostra o conteúdo do dropdown ao passar o mouse sobre o ícone */
  .userInfo:hover .dropdown-content {
    display: block;
  }
  

  #itens-nav {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 30px; 
}

#itens-nav p {
    font-family: 'Poppins', sans-serif;
    margin-right: 40%;
    border: none;
}

#itens-nav img {
    object-fit: contain; 
    cursor: pointer; 
}

.burger {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 30px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger {
    display: block;
    width: 30px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    position: relative;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

#itens-carrinho {
    font-family: 'Poppins', sans-serif;
}

.burger-container {
    position: relative;
}

.burger-menu {
    display: none;
    position: absolute;
    top: 30px; 
    right: 0;
    background-color: #694e22;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 10;
}

.burger-menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.burger-menu a:hover {
    background-color: #ba9457;
    color: white;
    text-decoration: none;
}

.burger-container:hover .burger-menu {
    display: block;
}

#login_user {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 68%;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 1%;
}



  