*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

main{
    min-height: calc(100vh - 120px);   
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lista-produtos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 3%;
}

.resumo{
    width: 40%;
    display: flex;
    justify-content: center;
}

.box-titulos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    font-family: "Poppins", sans-serif;
}

.resumo-pedido{
    display: flex;
    flex-direction: column;
}

.produtos-carrinho {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    margin-top: 10px; 
}

.produto {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    background-color: #fff; 
}

.info-produto img {
    width: 100px; 
    height: auto; 
    margin-right: 10px;
}

.info-produto {
    display: flex;
    flex-direction: row;
}

.container-prod {
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-content: center;
}

#t {
    font-weight: bold;
}

.info-quantidade {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
